/docs/_site
/docs/Gemfile.lock
/src/doogie.pro.user
/src/Makefile
/src/Makefile.Debug
/src/Makefile.Release
/src/debug
/src/qrc_doogie.cpp
/src/release
/src/.qmake.stash
/src/tests/integration/node_modules
/src/tests/integration/temp
/src/target_wrapper.bat
/src/target_wrapper.sh
